.noUi-av {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6477), to(#1ec481));
  background-image: -webkit-linear-gradient(90deg, #ff6477 10%, #ff9912 90%, #1ec481 100%);
  background-image: -moz-linear-gradient(90deg, #ff6477 10%, #ff9912 90%, #1ec481 100%);
  background-image: -o-linear-gradient(90deg, #ff6477 10%, #ff9912 90%, #1ec481 100%);
  background-image: linear-gradient(90deg, #ff6477 10%, #ff9912 90%, #1ec481 100%);
}

.noUi-connect {
  background: rgba(255, 153, 18, 0);
}

.text-risk {
  color: #ff394f;
  font-weight: 700;
}

.text-safe {
  color: #1ec481;
  font-weight: 700;
}

.c-1-color {
  background: #1ec481;
}

.c-2-color {
  background: #ff394f;
}

.noUi-horizontal {
  height: 1rem;
  //padding-right: 17px;
}

.noUi-connects {
  z-index: 0;
  border-radius: 3px;
  overflow: unset;
}

.noUi-handle {
  border: 5px solid #343a40;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  top: -4px;
  width: 25px;
  height: 25px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -13px;
  left: auto;
}

.noUi-pips-horizontal,
.noUi-value-sub {
  color: #aaa;
  font-size: 12px;
}

.noUi-value-horizontal {
  margin-top: 5px;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.slider {
  .noUi-origin:nth-child(3) {
    .noUi-handle {
      display: none;
    }
  }
}

.slider-text {
  line-height: 30px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .noUi-value-large,
  .noUi-value-sub {
    display: none;
  }
}
