.noUi-target {
  border: 0;
  border-radius: .25rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff394f), to(#ff8090));
  background-image: -webkit-linear-gradient(left, #ff394f 0, #ff8090 100%);
  background-image: -moz-linear-gradient(left, #ff394f 0, #ff8090 100%);
  background-image: -o-linear-gradient(left, #ff394f 0, #ff8090 100%);
  background-image: linear-gradient(to right, #ff394f 0, #ff8090 100%);
  background-repeat: repeat-x;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-av.noUi-target {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#eae8e6));
  background-image: -webkit-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: -moz-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: -o-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: linear-gradient(to right, #fff 0, #eae8e6 100%);
}

.noUi-av .noUi-connect {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff394f), to(#ff8090));
  background-image: -webkit-linear-gradient(right, #ff394f 0, #ff8090 100%);
  background-image: -moz-linear-gradient(right, #ff394f 0, #ff8090 100%);
  background-image: -o-linear-gradient(right, #ff394f 0, #ff8090 100%);
  background-image: linear-gradient(to left, #ff394f 0, #ff8090 100%);
  background-repeat: repeat-x;
}

.slider.noUi-target {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#eae8e6));
  background-image: -webkit-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: -moz-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: -o-linear-gradient(left, #fff 0, #eae8e6 100%);
  background-image: linear-gradient(to right, #fff 0, #eae8e6 100%);
}

//.noUi-connect {
//  background-image: -webkit-gradient(linear,right top,left top,from(#1EC481),to(#69DEB4));
//  background-image: -webkit-linear-gradient(right,#1EC481 0,#69DEB4 100%);
//  background-image: -moz-linear-gradient(right,#1EC481 0,#69DEB4 100%);
//  background-image: -o-linear-gradient(right,#1EC481 0,#69DEB4 100%);
//  background-image: linear-gradient(to left,#1EC481 0,#69DEB4 100%);
//  background-repeat: repeat-x;
//}

.text-risk {
  color: #ff394f;
  font-weight: 700;
}

.text-safe {
  color: #1ec481;
  font-weight: 700;
}

.c-1-color {
  background: #1ec481;
}

.c-2-color {
  background: #ff394f;
}

.noUi-horizontal {
  height: 1rem;
  //padding-right: 17px;
}

.noUi-connects {
  z-index: 0;
  border-radius: 3px;
  overflow: unset;
}

.noUi-handle {
  border: 5px solid #343a40;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  top: -4px;
  width: 25px;
  height: 25px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -20px;
  left: auto;
}

.noUi-pips-horizontal {
  left: 8px;
  width: 98.6%;
}

.noUi-pips-horizontal,
.noUi-value-sub {
  color: #aaa;
  font-size: 12px;
}

.noUi-value-horizontal {
  margin-top: 5px;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.slider {
  .noUi-origin:nth-child(3) {
    .noUi-handle {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .noUi-value-large,
  .noUi-value-sub {
    display: none;
  }
}
