<div id="collapse_add_user" class="collapse">
    <div class="row">
        <div class="col">
            <h2>Kunden hinzufügen</h2>
        </div>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Firma</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlInput1">Firma</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlSelect1">Betriebsart</label>
                            <select class="js-example-basic-single" name="state">
                                <option>bitte auswählen...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Anschrift</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlInput1">Strasse</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="exampleFormControlInput1">Postleitzahl</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-sm-8">
                            <label for="exampleFormControlInput1">Ort</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Ansprechpartner</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label for="inlineFormCustomSelect">Anrede</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>bitte auswählen...</option>
                                <option value="1">Frau</option>
                                <option value="2">Herr</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="exampleFormControlInput1">Vorname</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="exampleFormControlInput1">Nachname</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label for="exampleFormControlInput1">E-Mail</label>
                            <input type="email" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="exampleFormControlInput1">Telefon</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-xl-4">
                            <label for="exampleFormControlInput1">Fax</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-right col">
            <a href="#" class="btn btn-success btn-save-user"><i class="fas fa-check"></i> Speichern</a>
        </div>
    </div>
</div>