<div id="collapse_edit_user_4" class="collapse">
    <div class="row">
        <div class="col">
            <h2>Kunden bearbeiten</h2>
        </div>
    </div>
    <div class="line"></div>
    <div class="row">
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Firma</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlInput1">Firma</label>
                            <input type="text" class="form-control" placeholder="" value="TLG Immobilien">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlSelect1">Betriebsart</label>
                            <select class="js-example-basic-single" name="state">
                                <option>Gewerbe­immobilien</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Anschrift</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlInput1">Strasse</label>
                            <input type="text" class="form-control" placeholder="" value="Flughafenstrasse 8">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="exampleFormControlInput1">Postleitzahl</label>
                            <input type="text" class="form-control" placeholder="" value="95671">
                        </div>
                        <div class="form-group col-sm-8">
                            <label for="exampleFormControlInput1">Ort</label>
                            <input type="text" class="form-control" placeholder="" value="Bärnau">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-shield"></i> Ansprechpartner</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label for="exampleFormControlInput1">Vorname</label>
                            <input type="text" class="form-control" placeholder="" value="Michael">
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="exampleFormControlInput1">Nachname</label>
                            <input type="text" class="form-control" placeholder="" value="Zahn">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label for="exampleFormControlInput1">E-Mail</label>
                            <input type="email" class="form-control" placeholder="m.zahn@tlg.de">
                        </div>
                        <div class="form-group col-xl-6">
                            <label for="exampleFormControlInput1">Telefon</label>
                            <input type="text" class="form-control" placeholder="" value="09635 78 10 80">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-right col">
            <a href="#" class="btn btn-success btn-save-user"><i class="fas fa-check"></i> Speichern</a>
        </div>
    </div>
</div>